<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>noteTitle</key>
		<string>Welcome to MyNotes</string>
		<key>noteContent</key>
		<string>Welcome to MyNotes</string>
		<key>noteData</key>
		<date>2016-03-07T05:46:32Z</date>
		<key>noteImage</key>
		<data>bm9JbWFnZQ==</data>
	</dict>
	<dict>
		<key>noteTitle</key>
		<string>欢迎使用MyNotes</string>
		<key>noteContent</key>
		<string>欢迎使用MyNotes</string>
		<key>noteData</key>
		<date>2016-03-07T05:46:35Z</date>
		<key>noteImage</key>
		<data>bm9JbWFnZQ==</data>
	</dict>
</array>
</plist>
